# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings (opsional)
.vscode/

# Log files (opsional)
*.log

# Render deploy config (jika isi sensitif)
render.yaml  <-- ini tergantung, biasanya **boleh di-push**
